<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Check out</li>
      </ol>
    </div><!--/breadcrums-->

    <div class="step-one">
      <h2 class="heading">Step1</h2>
    </div>
    <div class="checkout-options">
      <h3>New User</h3>
      <p>Checkout options</p>
      <ul class="nav">
        <li>
          <label><input type="checkbox"> Register Account</label>
        </li>
        <li>
          <label><input type="checkbox"> Guest Checkout</label>
        </li>
        <li>
          <a href=""><i class="fa fa-times"></i>Cancel</a>
        </li>
      </ul>
    </div><!--/checkout-options-->

    <div class="register-req">
      <p>Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest</p>
    </div><!--/register-req-->

    <div class="shopper-informations">
      <div class="row">
        <%=form_for @addresses, :html => { :id=>'submit-form'} do |f|%>
          <div class="col-sm-6 clearfix">
            <div class="bill-to">
              <p>Bill To</p>
              <div class="form-one">
                <%#= render 'address_form', f: f %>
                  <% address_type ||= 'billing_address' %>
                  <%= f.text_field :name, placeholder: "Name", name: "address[#{address_type}][name]" %>
                  <%= f.text_field :email, placeholder: "Email", name: "address[#{address_type}][email]" %>
                  <select>
                    <option>-- Country --</option>
                    <option>United States</option>
                    <option>Bangladesh</option>
                    <option>UK</option>
                    <option>India</option>
                    <option>Pakistan</option>
                    <option>Ucrane</option>
                    <option>Canada</option>
                    <option>Dubai</option>
                  </select>
                  <select>
                    <option>-- State / Province / Region --</option>
                    <option>United States</option>
                    <option>Bangladesh</option>
                    <option>UK</option>
                    <option>India</option>
                    <option>Pakistan</option>
                    <option>Ucrane</option>
                    <option>Canada</option>
                    <option>Dubai</option>
                  </select>
                  <%= f.text_field :address_one, placeholder: "Address1", name: "address[#{address_type}][address_one]" %>

                  <%= f.text_field :address_two, placeholder: "Address2", name: "address[#{address_type}][address_two]" %>
                  <%= f.text_field :zip_code, placeholder: "Zip / Postal Code", name: "address[#{address_type}][zip_code]" %>
                  <%= f.text_field :mobile_number, placeholder: "Mobile Phone", name: "address[#{address_type}][mobile_number]" %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="bill-to">
              <p>Ship To</p>
              <div class="form-one">
                <%#= render 'address_form', f: f, address_type: 'shipping_address' %>
                <% address_type = 'shipping_address' %>
                  <%= f.text_field :name, placeholder: "Name", name: "address[#{address_type}][name]" %>
                  <%= f.text_field :email, placeholder: "Email", name: "address[#{address_type}][email]" %>
                  <select>
                    <option>-- Country --</option>
                    <option>United States</option>
                    <option>Bangladesh</option>
                    <option>UK</option>
                    <option>India</option>
                    <option>Pakistan</option>
                    <option>Ucrane</option>
                    <option>Canada</option>
                    <option>Dubai</option>
                  </select>
                  <select>
                    <option>-- State / Province / Region --</option>
                    <option>United States</option>
                    <option>Bangladesh</option>
                    <option>UK</option>
                    <option>India</option>
                    <option>Pakistan</option>
                    <option>Ucrane</option>
                    <option>Canada</option>
                    <option>Dubai</option>
                  </select>
                  <%= f.text_field :address_one, placeholder: "Address1", name: "address[#{address_type}][address_one]" %>
                  <%= f.text_field :address_two, placeholder: "Address2", name: "address[#{address_type}][address_two]" %>
                  <%= f.text_field :zip_code, placeholder: "Zip / Postal Code", name: "address[#{address_type}][zip_code]" %>
                  <%= f.text_field :mobile_number, placeholder: "Mobile Phone", name: "address[#{address_type}][mobile_number]" %>

                  
                  <label><%=check_box_tag ""%> Shipping to bill address</label>
              </div>
              </div>  
            </div>
          </div>
        <%end%>          
      </div>
    
    <div class="review-payment">
      <h2>Review & Payment</h2>
    </div>

    <div class="cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description"></td>
            <td class="price">Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% current_user.cart_items.each do |cart_item| %>
            <tr>
              <td class="cart_product">
                <% if cart_item.product.pictures.first.present? %>
                  <%= image_tag(cart_item.product.pictures.first.image.url,class: 'cart-image', style: "width:100px;height:100px") %>
                <%end%>
              </td>

              <td class="cart_description">
                <h4 class="product_desc_align"><%= cart_item.product.name %></h4>
              </td>

              <td class="cart_price">
                <p>&#8377; <%= cart_item.product.price %></p>
              </td>

              <td class="cart_quantity">
                <div class="cart_quantity_button">
                  <!-- <a class="cart_quantity_up" href=""> + </a> -->
                  <%= link_to "+", cart_item_path(id: cart_item,qty: "plus"), method: :put ,class: "cart_quantity_up", :remote => true %>

                  <%= number_field_tag :quantity, nil, min: 1, max: 20, onfocusout:"updateQuantity(#{cart_item.id},#{cart_item.product.id})", id: "#{cart_item.id}" ,class: "cart_quantity_input" , :remote => true, :value => cart_item.quantity %>

                  <%#binding.pry%>
                  <!-- <input id="cart_item_count_<%= cart_item.id %>" class="cart_quantity_input" type="number" min="1" max="10" name="quantity" value="<%= cart_item.quantity %>" autocomplete="off" size="2"> -->
                 

                  <%= link_to "-", cart_item_path(cart_item,qty: "minus"), method: :put ,class: "cart_quantity_down", :remote => true %>
                </div>
              </td>
              <td class="cart_total" >
                <% @total = cart_item.product.price * cart_item.quantity %>
                <p id="sub_total_<%= cart_item.id %>" class="cart_total_price">&#8377; <%= @total %></p>
              </td>

              <td class="cart_delete">
                <%= link_to cart_item_path(cart_item), method: :delete, data: { confirm: 'you want to delete item from cart?' }, :remote => true, :class => 'delete_item' do %><i class="fa fa-times"></i><% end %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td colspan="4">&nbsp;</td>
            <td colspan="2">
              <table class="table table-condensed total-result">
                <tr>
                  <td>Cart Sub Total</td>
                  <td><div id="cart_sub_total">&#8377; <%=@sub_total%></div></td>
                </tr>
                <tr>
                  <td>Exo Tax</td>
                  <td><div id="tax">&#8377; <%= @tax %></div></td>
                </tr>
                <tr class="shipping-cost">
                  <td>Shipping Cost</td>
                  <td><div id="shipping_cost">&#8377; <%= @shipping_cost %></div></td>                   
                </tr>
                <tr>
                  <td>Total</td>
                  <td><span id="sub_sub_total_">&#8377; <%= @final_total %></td>
                </tr>

              </table>
              <%= submit_tag "continue", class: "btn btn-primary", onClick: "$('#submit-form').submit()"%>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="payment-options">
        <span>
          <label><input type="checkbox"> Direct Bank Transfer</label>
        </span>
        <span>
          <label><input type="checkbox"> Check Payment</label>
        </span>
        <span>
          <label><input type="checkbox"> Paypal</label>
        </span>
      </div>
  </div>

</section> <!--/#cart_items-->
======================================================
<% if customer_signed_in? %>
  <% if current_customer.admin != true %>
    <div id="contact-page" class="container">
      <div class="bg">
        <div class="row">       
          <div class="col-sm-12">                 
          <h2 class="title text-center">Contact <strong>Us</strong></h2>                                  
          <div id="gmap" class="contact-map">
          </div>
        </div>          
      </div>      
      <div class="row">   
        <div class="col-sm-8">
          <div class="contact-form">
            <h2 class="title text-center">Get In Touch</h2>
            <div class="status alert alert-success" style="display: none"></div>
              <%= render "form"%>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="contact-info">
            <h2 class="title text-center">Contact Info</h2>
            <address>
              <p>E-Shopper Inc.</p>
            <p>935 W. Webster Ave New Streets Chicago, IL 60614, NY</p>
            <p>Newyork USA</p>
            <p>Mobile: +2346 17 38 93</p>
            <p>Fax: 1-714-252-0026</p>
            <p>Email: info@e-shopper.com</p>
            </address>
            <div class="social-networks">
              <h2 class="title text-center">Social Networking</h2>
            <ul>
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </li>
            </ul>
            </div>
          </div>
        </div>          
      </div>  
      </div>  
    </div><!--/#contact-page-->
  <% else %>
    <div id="contact-page" class="container">
      <div class="bg">
        <div class="row">       
          <div class="col-sm-12">                 
          <h2 class="title text-center">Contact <strong>Messages</strong></h2>                                  
          <div id="gmap" class="contact-map">
          </div>
        </div>          
      </div>
      <div class="row">
        <% if @contacts.present? %>
          <% @contacts.each do |contact|%>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-sm-2">
                      <p ><Strong>NAME</strong></p>
                      <p ><%= contact.name %></p>
                    </div> 
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-2">
                      <p><Strong>SUBJECT</strong></p>
                      <p><%= contact.subject %></p>
                    </div>
                    <div class="col-sm-3 col-sm-offset-3">
                      <p align="right"> <strong>MESSAGE DATE</strong></p>
                      <p align="right"><%= contact.created_at.strftime("%d %B %Y") %></p>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="col-sm-12 list-my_order">
                    <h4> MESSAGE </h4>
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <%= contact.message %>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2 list-my_order message-reply">
                    <p align="right"><%=link_to(edit_contact_path(contact), class: "btn btn-default", remote: true) do %>Reply<% end %></p>
                  </div>
                </div>
              </div>
          <% end %>
        <% else %>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-sm-12 list-my_order">
                <h2 align="center">No Messages </h2>
              </div>
            </div>
          </div>
        <% end %>
  <% end %>
<% else %>
  <div id="contact-page" class="container">
      <div class="bg">
        <div class="row">       
          <div class="col-sm-12">                 
          <h2 class="title text-center">Contact <strong>Us</strong></h2>                                  
          <div id="gmap" class="contact-map">
          </div>
        </div>          
      </div>      
      <div class="row">   
        <div class="col-sm-8">
          <div class="contact-form">
            <h2 class="title text-center">Get In Touch</h2>
            <div class="status alert alert-success" style="display: none"></div>
              <%= render "form"%>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="contact-info">
            <h2 class="title text-center">Contact Info</h2>
            <address>
              <p>E-Shopper Inc.</p>
            <p>935 W. Webster Ave New Streets Chicago, IL 60614, NY</p>
            <p>Newyork USA</p>
            <p>Mobile: +2346 17 38 93</p>
            <p>Fax: 1-714-252-0026</p>
            <p>Email: info@e-shopper.com</p>
            </address>
            <div class="social-networks">
              <h2 class="title text-center">Social Networking</h2>
            <ul>
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </li>
            </ul>
            </div>
          </div>
        </div>          
      </div>  
      </div>  
    </div><!--/#contact-page-->
<% end %> 
<div class="modal fade" id="reply-message" role="dialog">
  </div>


=======================================
<div class="modal-dialog" style="width: 500px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Track Order</h4>
      </div>
      <div class="modal-body">
        <% success = TrackOrder.where(order_id: @order.id,status: 'success').last.created_at.strftime("%d %B %Y") if TrackOrder.where(order_id: @order.id,status: 'success').last.present? %>
        <% in_transit = TrackOrder.where(order_id: @order.id,status: 'success').last.created_at.strftime("%d %B %Y") if TrackOrder.where(order_id: @order.id,status: 'in-transit').last.present? %>
        <% shipped = TrackOrder.where(order_id: @order.id,status: 'shipped').last.created_at.strftime("%d %B %Y") if TrackOrder.where(order_id: @order.id,status: 'shipped').last.present? %>
        <% delivered = TrackOrder.where(order_id: @order.id,status: 'delivered').last.created_at.strftime("%d %B %Y") if TrackOrder.where(order_id: @order.id,status: 'delivered').last.present? %>
        <div class="progress" style="height: 35px">
          <% if @order.status=='success'%>
            <div class="progress-bar progress-bar-info progress_bar_size" role="progressbar" style="width:20%">
              <p style="color: black">
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" style="color: white"  data-content="<%= success %>">
                  Ordered
                </a>
              </p>
            </div>
          <% elsif @order.status=='in-transit'%>
            <div class="progress-bar progress-bar-info progress_bar_size" role="progressbar" style="width:20%">
              <p style="color: black">
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" style="color: white"  data-content="<%= success %>">
                  Ordered
                </a>
              </p>
            </div>
            <div class="progress-bar progress-bar-warning progress_bar_size" role="progressbar" style="width:30%">
              <p style="color: black">
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" style="color: white"  data-content="<%= in_transit %>">
                  In Transit
                </a>
              </p>
            </div>
          <% elsif @order.status=='shipped'%>
            <div class="progress-bar progress-bar-info progress_bar_size" role="progressbar" style="width:20%">
              <p style="color: black">
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" style="color: white"  data-content="<%= success %>">
                  Ordered
                </a>
              </p>
            </div>
            <div class="progress-bar progress-bar-warning progress_bar_size" role="progressbar" style="width:30%">
              <p style="color: black">
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" style="color: white"  data-content="<%= in_transit %>">
                  In Transit
                </a>
              </p>
            </div>
            <div class="progress-bar progress-bar-primary progress_bar_size" role="progressbar" style="width:20%">
              <p style="color: black">
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" style="color: white"  data-content="<%= shipped %>">
                  Shipped
                </a>
              </p>
            </div>
          <% elsif @order.status=='delivered' %>
            <div class="progress-bar progress-bar-info progress_bar_size" role="progressbar" style="width:20%">
              <p style="color: black">
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" style="color: white"  data-content="<%= success %>">
                  Ordered
                </a>
              </p>
            </div>
            <div class="progress-bar progress-bar-warning progress_bar_size" role="progressbar" style="width:30%">
              <p style="color: black">
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" style="color: white"  data-content="<%= in_transit %>">
                  In Transit
                </a>
              </p>
            </div>
            <div class="progress-bar progress-bar-primary progress_bar_size" role="progressbar" style="width:25%">
              <p style="color: black">
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" style="color: white"  data-content="<%= shipped %>">
                  Shipped
                </a>
              </p>
            </div>
            <div class="progress-bar progress-bar-success progress_bar_size" role="progressbar" style="width:25%">
              <p style="color: black">
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" style="color: white"  data-content="<%= delivered %>">
                  Delivered
                </a>
              </p>
            </div>
          <% end %>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  ==================
  <p>
    <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" style="color: white"  data-content="<%= success %>">
      Ordered
    </a>
  </p>