<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Track Order</h4>
    </div>
    <div class="modal-body">
      <div class="shopper-informations">
        <div class="row">
          <% success = TrackOrder.where(order_id: @order.id, status: 'success').last.created_at.strftime("%d %B %Y") if TrackOrder.where(order_id: @order.id, status: 'success').last.present? %>
          <% in_transit = TrackOrder.where(order_id: @order.id, status: 'success').last.created_at.strftime("%d %B %Y") if TrackOrder.where(order_id: @order.id, status: 'in-transit').last.present? %>
          <% shipped = TrackOrder.where(order_id: @order.id, status: 'shipped').last.created_at.strftime("%d %B %Y") if TrackOrder.where(order_id: @order.id, status: 'shipped').last.present? %>
          <% delivered = TrackOrder.where(order_id: @order.id, status: 'delivered').last.created_at.strftime("%d %B %Y") if TrackOrder.where(order_id: @order.id, status: 'delivered').last.present? %>
          <% if @order.status=='success'%>
            <div class="progress-bar progress-bar-info progress_bar_size" role="progressbar" style="width:20%">
              <p style="color: black">
                <a href="" target="_self" data-toggle="popover" data-placement="bottom" data-trigger="hover" style="color: white"  data-content="<%= success %>">
                  Ordered
                </a>
              </p>
            </div>
          <%end%>
        </div>
    </div>
    <div class="modal-footer">
      
      <%= submit_tag 'close', :type => :reset, :class => "btn btn-danger", "data-dismiss" => "modal", "aria-hidden" => "true" %>
    </div>
  </div>     
</div>