<section id="cart_items">
  <div class="container">
    <div class="cart_info">
      <h2 style="text-align: center;">Thank-You</h2>
      <p style="text-align: center;">Your Order with order-id: <%= @order.id %> has been <b>Cancelled.</b></p>
      <h4 style="text-align: center;"><%= link_to 'Continue Shopping', root_path, class: 'btn btn-width2 btn btn-primary' %></h4>
    </div>
  </div>
</section>