<div id="charts" style="width:80%; height:400px;"></div>
<script type="text/javascript">
Highcharts.chart('charts', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Order details. January, 2017 to Dec, 2017'
    },
    subtitle: {
        
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'Total percent order placed'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.1f}%'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
    },

    series: [{
        name: 'Orders',
        colorByPoint: true,
        data: [
        <% @months.each_with_index do |month,i|%>
        {
            name: '<%=month%>',
            y: <%=@total_orders[i]%>,
            drilldown: 'January'
        },
        <%end%>

        ]
    }]
});
</script>
<%= link_to "Customer_Registered", report_customer_registered_path %>
<%= link_to "Coupons used", report_coupon_used_path%>