<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= image_tag attachments['logo.png'].url %><br>
      <h3>You have successfully cancalled your order</h3><br>
      order id: <%= @order.id %><br>
      <h4>Payment refunded successfully</h4>
    </p>
  </body>
</html>
