<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have successfully cancalled your order.<br>
      order id: <%= @order.id %>.<br>
    </p>
  </body>
</html>
