<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <h3>
        <%=@contact.reply%>
      </h3>  
    </p>
  </body>
</html>
