/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require social-share-button
 */
.product_desc_align{
  padding-left: 80px;
}
.flash_bar_align{
  padding-left: 100px;
  padding-right: 200px;
}
.flash_text_align{
  padding-left: 350px;
}
.brand_underline{
  text-decoration: underline;

}
.facebook_button{

  margin-top:200px;
}
.login_btn{
  width: 80px !important;
  height: 33px !important;
  color: white !important;
}
.continue_to_payment{
  margin-left: 450px;
  margin-bottom: inherit;

}
.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}
.model_dialog_one{
    width: 430px;
    margin: 30px auto;
}
.wrapper {
    text-align: center;
    padding-top: 50px;
}
.wish_list_button{
  color: #fe0f0f;
}
.coupon {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
