<!doctype html>
<html>
<head>
  <title>Eshopper</title>
  <style type="text/css">
    *{margin:0px; padding:0; font-family:arial; color:#232323; font-size:14px;}
  </style>
</head>
<body>
  <table style="border:1px solid #f1f1f1; margin:auto; text-align:center;" width="800" align="center" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <td style="border-bottom: 5px solid #052b48; padding: 15px 0; text-align: center;">
          <table width="800" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="100%" valign="top" align="center"><a href="#" style="border:none; padding-left:15px;">
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="padding:15px;" align="left">
          <p style="margin:15px;">Hello <%= @resource.email %>,</p>

          <p style="margin:15px;">You have successfully updated password for your account.<br> 
          </p>

          <p style="margin:15px;">If you did not make this request, you can again change password for your account again.<br>
          If you have any questions about your account or any other matter, please feel free to contact us at<br>
          admin@eshopper.com</p>
          <p style="margin:15px;">Note: Please do not reply back to this mail.<br> This is sent from an unattended mail box.</p>

        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td style="background:#f4f4f4; padding:15px 0; text-align:center; color:#777;">&copy; Eshopper, 2017 · All Rights Reserved.<a href="http://shyam-eshopper.herokuapp.com" style="color:#052B48;" target="_blank">www.shyam-eshopper.herokuapp.com</a></td>
      </tr>
    </tfoot>
  </table>
</body>
</html>
