<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Check out</li>
      </ol>
    </div><!--/breadcrums-->
    <div class="panel panel-info">
      <!-- <div class="panel-heading">
        <h4 class="name"></h4>
        <div style="float:right; font-size: 80%; position: relative; top:-10px"></div>
      </div> -->
      <div class="panel-body"> 
        <%if @wishlists.present? %>
          <% @wishlists.each do |wishlist|%>
            <div id="wishlistIndex-<%=wishlist.product.id%>">
              <%= render partial: 'wishlists/index', locals:{wishlist: wishlist}%>
            </div>
          <%end%> 
        <%else%>
          <h3>Wishlist is empty...!</h3>
        <%end%>     
      </div>
    </div>
    
  </div>
</section> <!--/#cart_items-->