<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><%=link_to 'Home', root_url%></li>
        <li class="active">Wishlist</li>
      </ol>
    </div><!--/breadcrums-->
    <div class="panel panel-info">
      <div class="panel-body"> 
        <%if @wishlists.present? %>
          <% @wishlists.each do |wishlist|%>
            <div id="wishlistIndex-<%=wishlist.product.id%>">
              <%= render partial: 'wishlists/index', locals:{wishlist: wishlist}%>
            </div>
          <%end%> 
        <%else%> 
            <h2 style="text-align: center;"></h2>
            <p style="text-align: center;"><b>Your wishlist is empty.</b></p>
            <h4 style="text-align: center;"><%= link_to 'Add product to wishlist', root_path, class: 'btn btn-width2 btn btn-primary' %></h4>
        <%end%>     
      </div>
    </div>
    
  </div>
</section> <!--/#cart_items-->