<div class="container">
  <%= link_to "Sales Report", reports_sales_report_path, class: "btn btn-primary" %>
  <%= link_to "Customer Registered", reports_customer_registered_path, class: "btn btn-primary" %>
  <%= link_to "Coupons used", reports_coupon_used_path, class: "btn btn-primary"%>
</div>