<div class="progress-bar progress-bar-info progress_bar_size" role="progressbar" style="width:25%">
<p style="color: black">
  <a title="<%= @success %>" style="color:white;">
    Ordered
  </a>
</p>
</div>
<div class="progress-bar progress-bar-warning progress_bar_size" role="progressbar" style="width:25%">
<p style="color: black">
  <a href="" title="<%= @in_transit %>" style="color:white;">
    In Transit
  </a>
</p>
</div>
<div class="progress-bar progress-bar-danger progress_bar_size" role="progressbar" style="width:25%">
<p style="color: black">
  <a href="" title="<%= @shipped %>" style="color:white;">
    Shipped
  </a>
</p>
</div>
<div class="progress-bar progress-bar-success progress_bar_size" role="progressbar" style="width:25%">
<p style="color: black">
  <a href="" title="<%= @delivered %>" style="color:white;">
    Delivered
  </a>
</p>
</div>