<div class="progress-bar progress-bar-info progress_bar_size" role="progressbar" style="width:25%">
  <p style="color: white">
    <a title="<%= @success %>" style="color:white;"> 
      Ordered
    </a>
  </p>
</div>